__pycache__/
._.DS_Store
.DS_Store
._.gitlab-ci.yml
*.pyc
*.fxi
.idea/
.Rhistory

# Python package build artifacts
rhea.egg-info/
dist/
build/

# Rhea results
extra/*
rhea_results/*

# example data and test scripts
example/*
tests/